<ion-view title="Barcode scanner">
  <ion-content class="has-header">
    <div class="card" ng-if="err">
      <div class="item item-text-wrap">
        <p>{{err.message}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <p>Format</p>
        <h3>{{barcode.format || 'N/A'}}</h3>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <p>Cancelled</p>
        <h3>{{barcode.cancelled || 'N/A'}}</h3>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <p>Text</p>
        <h3>{{barcode.text || 'N/A'}}</h3>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="scan()">
        Scan
      </button>
    </div>
  </ion-content>
</ion-view>
